body {
	font-family: 'Segoe UI', Arial, sans-serif;
}

.btn-toggle {
	border: none;
	font-size: 3rem;
	padding: 0;
	background: transparent;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.btn-table {
	padding: 0;
	border: 0;
	margin: 0;
	background-color: transparent;
}

.ck-editor__editable {
	min-height: 300px;
}